<div class="message">
  <div class="upper-message">
    <div class="message-user">
    <!-- 投稿したユーザー名情報を出力する -->
      <%= message.user.name%>
    </div>
    <div class="message-date">
    <!-- 投稿した時刻を出力する -->
      <%= l message.created_at %>
      <%# lメソッドで指定した現地時間を表示させる/4762 %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
    <!-- 投稿したメッセージ内容を記述する -->
      <%= message.content%>
    </div>
    <%= image_tag message.image.variant(resize:'500x500'), class: 'message-image' if message.image.attached?%>
    <%# if message.image.attached?と記述することで、画像が存在する場合のみimage_tagが読み込まれるようになる/4763 %>
    <%# resizメソッドで画像のサイズを指定/4763 %>
  </div>
</div>